# Ignorar a virtual environment
venv/

# Ignorar arquivos de cache
__pycache__/
*.py[cod]

# Ignorar arquivos de log
*.log

# Ignorar outros arquivos indesejados
*.DS_Store
*.env

# Arquivos txt que estão em crud com arquivo
crud com arquivo/*.txt
!crud com arquivo/README.txt
